body {
  background-color: rgb(14, 1, 12);
  color: rgb(63, 182, 44);
  font-family: ArcadeClassic, Arial, sans-serif;
}

h1 {
  font-family: ArcadeClassic, sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
}
